<div class="app-title">
  <img src={{model.image}} class="app-title-icon">
  <h2 class="app-title-text">{{model.name}}</h2>
</div>

<i class="glyphicon glyphicon-edit" {{action "toggleEdit"}}></i>
{{#if isEdit}}
  {{textarea class="form-control form-group" value=model.description}}
  <div class="btn btn-primary" {{action "save"}}>Save</div>
{{else}}
  <p class="description">{{model.description}}</p>
{{/if}}

<ul class="app-versions">
  {{#each model.versions as |version|}}
    <li class="version">
      {{version.dog}}
      <span class="number">{{version.name}}</span>
      <span class="date">{{moment-from-now version.publishedAt}}</span>
    </li>
  {{/each}}
</ul>
