<div class="app-title">
  <img src={{model.image}} class="app-title-icon">
  <h2 class="app-title-text">{{model.name}}</h2>
</div>

<p class="description">{{model.description}}</p>

<ul class="app-versions">
  {{#each model.versions as |version|}}
    <li class="version">
      {{version.dog}}
      <span class="number">{{version.name}}</span>
      <span class="date">{{version.publishedAt}}</span>
    </li>
  {{/each}}
</ul>
